
@{
    ViewBag.Title = "Bar";
}

<h2>Bar</h2>

<!-- progress bar -->

<div class="container">

    <h1 class="text-center">Progress Bar</h1>
    @*<p><a href="https://github.com/jumpifzero/purecss-circular-progress-bar" class="text-center">https://github.com/jumpifzero/purecss-circular-progress-bar</a></p>*@
   
        <div class="row pagination-centered">

            @*<div class="col-sm-12 col-md-4">
                <div class="inner-content text-center">

                    <div class="c100 p75 dark big center">
                        <span>75%</span>
                        <div class="slice"><div class="bar"></div><div class="fill"></div></div>
                    </div>

                    <p>.big.dark</p>

                </div>
            </div><!-- /.col -->

            <div class="col-sm-6 col-md-4">
                <div class="inner-content text-center">

                    <div class="c100 p50 dark big center green">
                        <span>50%</span>
                        <div class="slice"><div class="bar"></div><div class="fill"></div></div>
                    </div>

                    <p>.big.dark.green</p>

                </div>
            </div><!-- /.col -->*@

            <div class="col-sm-6 col-md-4 center-block ">
                <div class="inner-content">

                    <div class="c100 @ViewBag.PClass dark big center orange">
                        <span>@ViewBag.Progress%</span>
                        <div class="slice"><div class="bar"></div><div class="fill"></div></div>
                    </div>

                    @*<p>.big.dark.orange</p>*@

                </div>
            </div><!-- /.col -->

        </div><!-- /.row -->

    </div><!-- /.container -->


<h2>Weight Start: @ViewBag.WeightStart</h2>
<h2>Weight Goal: @ViewBag.WeightGoal</h2>
<h2>Current Progress: @ViewBag.Progress%</h2>


    <script>

        $(document).ready(function () {
            $('.progressWrapper progress').each(function () {
                var prgsVal = $(this).data('value');
                var maxN = $(this).attr('max');
                var pop = prgsVal / maxN * 100

                $(this).prev().css('left', pop + '%').text(prgsVal);
                $(this).val(prgsVal);
            });
        });

    </script>

