<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link href="https://fonts.googleapis.com/css?family=Inconsolata|Rubik:300,400,700,900" rel="stylesheet">
    <link rel="stylesheet" href="~/Content/styles-merged-3.css">
    <link rel="stylesheet" href="~/Content/style.min-3.css">
    <link rel="stylesheet" href="~/Content/custom-3.css">

</head>
<body>


    <header role="banner" class="probootstrap-header">
        <div>
            <a href="index.html" class="probootstrap-logo">Flex<span>.</span></a>

            <a href="#" class="probootstrap-burger-menu visible-xs"><i>Menu</i></a>
            <div class="mobile-menu-overlay"></div>

            <nav role="navigation" class="probootstrap-nav hidden-xs">
                <ul class="probootstrap-main-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("Subscribe", "Subscribe", "Customers")</li>
                    <li>@Html.ActionLink("Request Session", "Create", "TrainerBookings")</li>
                    <li>@Html.ActionLink("View Session", "Index", "BasicScheduler")</li>
                    <li>@Html.ActionLink("Exercises", "Index", "Exercises")</li>


                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            Track Progress
                            @*<span class="caret"></span>*@
                            <ul class="dropdown-menu">
                                <li>@Html.ActionLink("New Progress Entry", "Create", "CustomerProgress")</li>
                                <li>@Html.ActionLink("My Entries", "Index", "CustomerProgress")</li>
                                <li>@Html.ActionLink("My Progress", "Bar", "CustomerProgress")</li>
                                <li>@Html.ActionLink("Weight Calculator", "WeightCalculator", "Customers")</li>
                            </ul>
                        </a>
                    </li>



                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            Classes
                            @*<span class="caret"></span>*@
                            <ul class="dropdown-menu the-nav-ul">
                                <li>@Html.ActionLink("List of Classes", "Index", "Classes")</li>
                                <li>@Html.ActionLink("Join Class", "Create", "CustomerClasses")</li>
                                <li>@Html.ActionLink("My Classes", "Index", "CustomerClasses")</li>
                            </ul>
                        </a>
                    </li>
                </ul>
                




                <ul class="probootstrap-header-social hidden-xs">
                    <li><a href="#"><i class="icon-twitter"></i></a></li>
                    <li><a href="#"><i class="icon-facebook2"></i></a></li>
                    <li><a href="#"><i class="icon-instagram2"></i></a></li>
                    <li class="font-size-li-log-in font-magin-li-log-in">@Html.Partial("_LoginPartial")</li>
                </ul>
                <div class="extra-text visible-xs">
                    <a href="#" class="probootstrap-burger-menu"><i>Menu</i></a>
                    <h5>Connect With Me</h5>
                    <ul class="social-buttons">
                        <li><a href="#"><i class="icon-twitter"></i></a></li>
                        <li><a href="#"><i class="icon-facebook2"></i></a></li>
                        <li><a href="#"><i class="icon-instagram2"></i></a></li>
                    </ul>
                </div>
            </nav>
        </div>
    </header>




    <div class="container body-content">
        @RenderBody()

    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>


